<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=99507036106&autoLogAppEvents=1" nonce="SAuBh3zN"></script>
    <footer>
    <div class="footer">
        <div class="footer-w">
            <h4>Helpful Links</h4>
            <a href="#"><p>Size Guide</p></a>
            <a href="#"><p>Latest Trends</p></a>
            <a href="#"><p>KickSwap News</p></a>
            <a href="#"><p>Privacy Policy</p></a>
        </div>
        <div id="f2" class="footer-w">
            <h4>Stay On Trend</h4>
            <div class="fb-page" data-href="https://www.facebook.com/footwearnews" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/footwearnews" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/footwearnews">Footwear News</a></blockquote></div>
            </div>
        <div id="f3" class="footer-w">
            <h4>Payment Providers</h4>
            <p>We accept the below:</p>
            <%= image_tag "pay_by_cards.jpg", class: "footer-w" %>
        </div>
    </div>
    </footer>
<div class="copyright">
    Copright © KickSwap <script type="text/javascript">
        document.write(new Date().getFullYear());
        </script>
</div>

