                  <div class="footer">
                      <div>
                          <h4>Helpful Links</h4>
                          <a href="https://github.com/dwbra"><p>GitHub</p></a>
                          <a href="https://codepen.io/your-work"><p>Code Pen</p></a>
                          <a href="https://stackoverflow.com/"><p>Stack Overflow</p></a>
                          <a href="https://news.ycombinator.com/"><p>Hacker News</p></a>
                          <a href="https://www.xml-sitemaps.com/"><p>Sitemap Generator</p></a>
                      </div>
                      <div>
                          <h4>Contact Me & Start A Conversation!</h4>
                            <a href="https://twitter.com/intent/tweet?screen_name=dan_workman92&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @dan_workman92</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      <div>
                          <h4>Shout Outs To Coder Academy!</h4>
                          <p>Find out more information below.</p>
                          <a href="https://coderacademy.edu.au/"><img src="img/600_473781620.jpeg" height="100px" width="200px"></a>
                      </div>
                  </div>
              </footer>
              <div class="copyright">
                  Copright © KickSwap <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script>
              </div>