<br>
<h3>Shop from the largest range of second hand shoes online today!</h3>
<br>
<div class="row row-cols-1 row-cols-md-3">
<% c = 0 %>
  <% @listings.each do |listing| %>
    <% c += 1 %>
      <div class="col-md-4">
        <div class="card h-100">
          <%= image_tag(listing.images[0]) if listing.images.attached? %>
          <div class="card-body">
            <h5 class="card-title"><%= listing.name %></h5>
            <p class="card-text"> $ <%= listing.price %></p>
            <%= link_to "Buy Now!", listing_path(id: listing.id), method: :get, class: "slider-btn"%>
            <% if c >= 6 %>
            <% break %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
